/* Import fonts and variables */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import './variables.module.css';

/* General styles */
body {
  font-family: 'Poppins', sans-serif;
  background: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

/* Game title styles */
.gameTitle {
  font-size: 4.5rem;
  color: var(--highlight-color);
  text-shadow: 0 0 15px rgba(255, 111, 97, 0.5);
  transition:
    color 0.3s ease,
    text-shadow 0.3s ease;
}

.gameTitle:hover {
  color: #ff6347;
  text-shadow: 0 0 20px rgba(255, 99, 71, 0.7);
}

/* Button styles */
button {
  background-color: none !important;
  border: none !important;
  transition: all 0.3s ease !important;
}

button:active {
  transform: scale(0.95);
}

.difficultyButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  border-radius: 10px;
  background-color: var(--button-primary);
  color: var(--text-color);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  letter-spacing: 1.5px;
  font-size: 1.1rem;
  transition:
    background-color 0.3s ease,
    box-shadow 0.3s ease;
}

.difficultyButton:hover {
  background-color: var(--button-primary-hover);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

/* Animations */
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25%,
  75% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
