:root {
  --background-color: linear-gradient(
    53deg,
    rgba(35, 53, 180, 1) 0%,
    rgba(116, 32, 179, 1) 100%
  );
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  --bs-modal-border-color: none;
  --bs-modal-border-width: 0;
  --bs-modal-box-shadow: none;
  --bs-modal-margin: 0;
  --bs-modal-padding: 0;
  --button-primary: #1c2d3e;
  --button-primary-hover: #008cff;
  --button-secondary: #1c2d3e;
  --button-secondary-hover: #7c868d;
  --color-card-bg: #330e99;
  --color-row-bg: #ffffff09;
  --color-card-shadow: rgba(0, 0, 0, 0.5);
  --color-card-shadow-active: rgba(255, 150, 0, 0.85);
  --color-card-shadow-hover: rgba(0, 0, 0, 0.25);
  --color-card-shadow-matched: rgba(0, 128, 0, 0.85);
  --color-correct-bg: #2d3f5b;
  --color-correct-border: #23344b;
  --color-shadow: rgba(0, 0, 0, 0.35);
  --color-white: #e0e0e0;
  --color-wrong-bg: #d9534f;
  --color-wrong-border: #c9302c;
  --highlight-color: #ff8c69;
  --modal-background: #1919194b;
  --text-color: #00ffc8;
  --color-card-neon: #ff008755;
  --color-row-border: #ffffff33;
  --color-row-box-shadow: #00000085;
  --moves-color: #d34128;
  --timer-color: #199e19;
}
