/* Container */
.container {
  max-width: 100%;
  width: 50rem;
}

/* Row */
.row {
  backdrop-filter: blur(10px);
  background: var(--bg-row);
  border: 1px solid var(--border-row);
  border-radius: 25px;
  gap: 0.8rem 0;
  margin-left: 0;
  margin-right: 0;
  transition:
    box-shadow 0.3s ease,
    transform 0.3s ease;
  -webkit-backdrop-filter: blur(10px);
}

/* Stats */
.statsTop {
  align-items: center;
  background: var(--bg-card);
  border-bottom: 3px solid var(--border-row);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  color: var(--color-text);
  min-height: 5vh;
  display: flex;
  font-size: 1.25rem;
  justify-content: space-around;
}

.statsBottom {
  background: var(--bg-card);
  border-top: 3px solid var(--border-row);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  min-height: 5vh;
}

/* Button */
.exitButton {
  background: var(--btn-bg-secondary);
  border: none;
  border-radius: 12.5px;
  color: var(--color-text);
  font-size: 1.25rem;
  font-weight: 600;
  transition: all 0.3s ease;
  width: 7rem;
}

.exitButton:hover {
  background: var(--btn-bg-secondary-hover);
  color: var(--color-text);
}

.exitButton:active {
  background: var(--btn-bg-secondary-hover) !important;
  color: var(--color-text);
  transform: scale(0.95);
}

.resetButton,
.resetIcon {
  background: none;
  border: none;
  transition: all 0.3s ease;
}

.resetButton:hover,
.resetIcon:hover {
  background: none;
}

.resetButton:active,
.resetIcon:active {
  background: none !important;
  transform: scale(0.95);
}

.resetIcon {
  font-size: 1.5rem;
}

@media (max-width: 575px) {
  .container {
    width: 100%;
  }

  .row {
    gap: 0.5rem 0;
  }
}
