.row {
  max-width: 62.5rem !important;
  width: 100% !important;
  margin: 0 auto !important;
}

/* Stats section */
.stats {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  font-size: 1.2rem !important;
  color: var(--text-color) !important;
  margin: 0.5rem 0 !important;
}
