/* Row */
.row {
  display: flex;
  align-items: center;
  height: 100dvh;
}

/* Stats */
.statsTop {
  display: flex;
  align-items: center;
  border-bottom: 3px solid var(--border-row);
  color: var(--color-text);
  font-size: 1.25rem;
  justify-content: space-between;
}

.statsBottom {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 0.25rem;
  border-top: 3px solid var(--border-row);
}

/* Button */

.btnExitRestart {
  background: var(--bg-card);
  box-shadow: 0 1px 3px var(--shadow-card);
  border: 2px solid var(--border-card);
  border-radius: 15px;
  transition: all 0.3s ease;
}

.btnExitRestart:hover {
  box-shadow: 0 0 4px var(--color-secondary);
  --bs-btn-hover-border-color: transparent;
}

.exitRestartIcon {
  font-size: 1.5rem;
}

.btnExitRestart:active,
.exitRestartIcon:active,
.exitRestartIcon:active {
  background: var(--bg-card);
  --bs-btn-active-border-color: transparent;
  transform: scale(0.98);
}

/* @media (max-width: 1200px) {
  .container {
    width: 40rem;
  }
}

@media (max-width: 775px) {
  .container {
    width: 80%;
  }
}

@media (max-width: 575px) {
  .container {
    width: 100%;
  }
}
 */
