.success {
  color: var(--feedback-correct);
  font-size: 3rem;
}

.error {
  color: var(--feedback-wrong);
  font-size: 3rem;
}

@media (max-width: 450px) {
  .feedback {
    font-size: 2.5rem;
  }
}
