.feedback {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 3rem;
  margin-top: 0.15rem;
  margin-bottom: 0.15rem;
}

.success {
  color: var(--feedback-correct);
}

.error {
  color: var(--feedback-wrong);
}

@media (max-width: 450px) {
  .feedback {
    font-size: 2.5rem;
  }
}
