.modal :global(.modal-content) {
  background: var(--bg-row);
  color: var(--color-text);
  box-shadow: var(--shadow-primary);
  border: none !important;
  --bs-modal-border-radius: 15px;
}

.modal :global(.modal-header),
.modal :global(.modal-footer) {
  color: var(--color-text);
}

.modal :global(.modal-footer) {
  --bs-modal-footer-gap: 0;
}

/* Scoreboard styles */
.scoreboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.25rem;
  color: var(--color-text);
}

.scoreItem {
  display: flex;
  align-items: center;
}

.scoreIcon {
  font-size: 1.5rem;
}

.btnExit {
  background: var(--btn-secondary);
  border: none !important;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 15px;
}

.btnRestart {
  background: var(--btn-primary);
  border: none !important;
  border-top-left-radius: 0;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btnIcon {
  font-size: 1.2rem;
}

/* Button styles */
.modalButton {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none !important;
  color: var(--color-text);
  width: 100%;
  font-size: 1.1rem;
  transition: all 0.3s ease;
}

.btnRestart:hover {
  background: var(--btn-primary-hover);
  color: var(--color-text);
}

.btnRestart:active {
  background: var(--btn-primary-hover) !important;
  color: var(--color-text);
  transform: scale(0.95);
}

.btnExit:hover {
  background: var(--btn-secondary-hover);
  color: var(--color-text);
}

.btnExit:active {
  background: var(--btn-secondary-hover) !important;
  color: var(--color-text);
  transform: scale(0.95);
}
