.modal :global(.modal-content) {
  background: var(--modal-background);
  color: var(--color-white);
  box-shadow: var(--box-shadow);
}

.modal :global(.modal-header),
.modal :global(.modal-footer) {
  background: var(--modal-background);
  color: var(--color-white);
}

.modal :global(.btn-primary) {
  background-color: var(--button-primary);
  border-color: var(--button-primary);
}

.modal :global(.btn-primary:hover) {
  background-color: var(--button-primary-hover);
  border-color: var(--button-primary-hover);
}

.modal :global(.btn-secondary) {
  background-color: var(--button-secondary);
  border-color: var(--button-secondary);
}

.modal :global(.btn-secondary:hover) {
  background-color: var(--button-secondary-hover);
  border-color: var(--button-secondary-hover);
}

.modal :global(.close) {
  color: var(--color-white);
}

.scoreboard {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: var(--text-color);
}

.scoreboard p {
  margin: 0.5rem 0;
}
