/* Import fonts and variables */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import './variables.module.css';

/* General styles */
body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'Roboto', sans-serif !important;
  background-color: var(--background-color) !important;
  color: var(--text-color) !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  min-height: 100vh !important;
  letter-spacing: 3px !important;
}

.App {
  max-width: 100% !important;
  margin: 0 auto !important;
}

.AppHeader {
  text-align: center !important;
}

.gameTitle {
  font-size: 4rem !important;
  color: var(--highlight-color) !important;
  text-shadow: 0 0 15px rgba(255, 111, 97, 0.5) !important;
}

/* Stats section */
.stats {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  gap: 2rem !important;
}

.stats div,
.stats button,
.button {
  text-align: center !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex: 1 !important;
  height: 3.5rem !important;
  border-radius: 10px !important;
  background-color: var(--stats-background-color) !important;
  color: var(--stats-text-color) !important;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2) !important;
  letter-spacing: 1.5px !important;
  font-size: 1.1rem !important;
}

.stats button:hover,
.button:hover {
  background-color: var(--button-hover-color) !important;
}

/* Buttons */
button {
  border: none !important;
  cursor: pointer !important;
  color: var(--color-white) !important;
  transition: background-color 0.5s ease !important;
}

.difficultyButton {
  background-color: var(--button-primary) !important;
  color: var(--color-white) !important;
  width: 5rem !important;
  font-size: 1.1rem !important;
  letter-spacing: 1.5px !important;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2) !important;
}

.difficultyButton:hover {
  background-color: var(--button-hover-color) !important;
}

.row {
  display: flex !important;
  justify-content: space-between !important;
  gap: 2rem !important;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0) !important;
  }
  25%,
  75% {
    transform: translateX(-10px) !important;
  }
  50% {
    transform: translateX(10px) !important;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%) !important;
    opacity: 0 !important;
  }
  to {
    transform: translateX(0) !important;
    opacity: 1 !important;
  }
}
